.bg-grey {
  background: #F7F7FA;
}

.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px;
}


#map {
    height: 425px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }

  .corewrapper {
   justify-content: space-between;
}

.ship-text {
   padding: 20px 0px;
}

.form-check {
   padding: 10px 25px;
   border: 2px solid #B2BBD2;
}

.ship-text .form-check-label {
   font-size: 12px;
}

.place-order-btn {
   background-color: #3866DF;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    position: relative;
    flex: 1 1 0%;
    overflow: hidden;
    transition: opacity 0.2s ease-in 0s;
    text-align: center;
    border: 2px solid #B2BBD2;
    font-size: 16px;
}

.bill {
   font-size: 14px;
   font-weight: 400;
   justify-content: space-between;
}

.order-summary {
  width: 400px;
  background: #fff;
  padding: 15px;
  max-height: 330px;
}

.ship-info p {
  margin-bottom: 5px;
  font-weight: 500;
}

.ship-info {
  padding-top: 10px;
}

.order-box {
  background: #fff;
  padding: 20px 5px;
}