.brand {
    display: inline-block;
    padding-bottom: 6px;
    font-size: 1.08333rem;
    font-weight: 600;
    color: rgb(56, 102, 223);
}

.corewrapper .title {
    font-size: 2.444rem;
    font-weight: 600;
}

.corewrapper .title-2 {
    font-size: 1.444rem;
    font-weight: 600;
}

.modelnumber {
    margin-top: 2px;
    color: rgb(126, 133, 155);
}

.sellingPrice {
    font-size: 2rem;
    display: inline-block;
    font-weight: bold;
}

.secondary-details .price-new {
    font-size: 1.666rem;
}

.shipping {
    background-color: rgb(247, 249, 254);
    padding: 12px 15px 14px;
    margin: 14px 0px 10px;
    transition: background-color 0.2s ease-in-out 0s;
}

.shipping .head {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.loc-change {
    cursor: pointer;
    color: rgb(56, 102, 223);
    font-weight: 500;
}

.head-detail {
    font-size: 10px;
} 
.head-detail .day {
    color: rgb(56, 174, 4);
    font-weight: bold;
}

.pay-btn {
    background-color: rgb(255, 255, 255);
    color: #B2BBD2;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    position: relative;
    flex: 1 1 0%;
    overflow: hidden;
    transition: opacity 0.2s ease-in 0s;
    text-align: center;
    width: 300px;
    border: 2px solid #B2BBD2;
}

.pay-btn i {
    font-size: 18px;
    padding-right: 15px;
    padding-top: 5px;
}

.pay-btn:hover {
    border: 2px solid #3866DF;
}