.title {
  font-weight: bold;
  letter-spacing: 0.2px;
  cursor: pointer;
  font-size: 1.5rem;
}
i.icon-action {
  font-size: 20px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordian {
  justify-content: space-between;
}
.accordian-main {
  padding-top: 15px;
  min-width: 200px;
}
.accordian-list {
  padding-top: 15px;
}

ul.accordian-list li {
  padding: 7px 0px;
  font-size: 11px;
  font-weight: 500;
}

.counter {
  margin-left: 20px;
}

.card-product {
  margin: 5px;
}

.card .img-wrap {
  overflow: hidden;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 0px 15px;
}
.card-product .title {
  margin-top: 0;
  font-size: 11px;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-product .bottom-wrap {
  padding: 15px;
}
.float-right {
  float: right !important;
}
.price-new, .price {
  margin-right: 5px;
  font-weight: 700;
}
.price-old {
  color: #999;
  font-size: 9px;
}
.info-wrap .desc {
  margin-bottom: 5px;
}

.sidepanel {
  padding: 0 3%;
}

.listingpanel {
  padding: 0 3%;
}

.product-banner {
  padding: 20px 0px;
}
.slide-img {
  width: 12.5%;
  margin-right: 10px;
}
.listingpanel h1 {
  font-size: 12px;
}
.listingpanel header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
label.jsx-4246926475 {
  margin-right: 10px;
  font-weight: 700;
  color: rgb(178, 187, 210);
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.optionContainer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.filterButton {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(64, 69, 83) 0px 0px 0px 1px inset;
  color: rgb(64, 69, 83);
  box-sizing: border-box;
  outline: none;
  border-radius: 2px;
  padding: 11px 34px 11px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 229, 241);
  border-image: initial;
  margin: 15px;
}

.accordian-list ul {
  font-size: 11px;
}

.list-flex {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0px;
}

.checkbox-flex {
  display: flex;
  align-items: center;
}

.list-flex:hover {
  color: rgb(56, 102, 223);
}

.now-label {
  margin-left: 10px;
}

.cart-img {
  margin-top: 15px;
}
.logo-slider {
  padding: 20px 0px;
}
figcaption.tagwrap {
  padding-left: 10px;
}
.color-box {
  border: 1px solid rgb(226, 229, 241);
  min-width: 90px;
}
.product-ag {
  display: inline-flex;
  height: 18px;
  max-width: 100%;
}

.tag {
  background-color: blue;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.83333rem;
  line-height: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
  padding: 0px 6px;
  flex: 1 1 0%;
}

.ribbonend {
  border-top-color: blue; 
  border-bottom-color: blue;
  z-index: 0;
  border-top: 9px solid;
  border-bottom: 9px solid;
  border-left: 0px;
  border-right: 5px solid transparent;
}

.preprice {
  margin-left: 6px;
  color: rgb(56, 174, 4);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  padding: 0px 4px;
  background: #D7EFCD;
}