html {
    font-size: 12px;
    font-weight: 500;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #404553;
    /*font-size: 12px;*/
    border-radius: 0;
    padding-top: 110px;
}
a, a:hover { color: #404553; }
.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.btn { border-radius: 0; }

.top-bar { font-weight: 500; font-size: 11px; }
.top-bar { background-color: #feee00; height: 65px; padding: 0 3%; }
.top-bar .nav .dropdown-menu { margin: 0; border-radius: 0; top:44px; box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 4px 0px; }
.top-bar .dropdown-toggle::after {font-size: 20px; vertical-align: 2px; }
.top-bar .nav-link { padding-top: 0; padding-bottom: 0; }
.top-bar .nav-item { border-right: 1px solid rgba(64,69,83,0.2); /*margin-top: 4px;*/ }
.top-bar .nav-item:last-child { border-right: none; margin-top: 0;}
.top-bar .login-dropdown { padding: 10px; text-align: center; width: 220px; }
.top-bar .cart-top-bar, #sidebar .cart-side-bar { position: relative; }
.top-bar .fa-layers-counter, .sidebar-account .fa-layers-counter {
    background: rgb(56, 102, 223);
    color: #ffffff;
    font-weight: 600;
    border-radius: 10px;
    padding: 3px 6px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: 0px;
}
.top-nav { height: 45px; background-color: #fcfbf4; border-bottom: 1px solid #e2e5f1; padding: 0 3%; }
.top-nav ul.nav, .top-nav ul.nav li.nav-item { height: inherit; }
.top-nav ul.nav li.nav-item { padding: 14px 10px; }
.top-nav .mega-menu { width: 94%; margin: 0 3%; padding: 10px 5px; border-radius: 0; }
.top-nav .parent-menu, .top-nav .dropdown-header { font-size: 13px; font-weight: 700; text-transform: uppercase; }
.top-nav .dropdown-item { font-size: 11px; font-weight: 600; }
.top-nav .dropdown-item:hover { color: rgb(56, 102, 223); }
.top-nav .parent-menu:after { display: none; }
.top-nav .all-categories { border-right: 1px solid #e2e5f1; width: 16%; text-align: center; }
.top-nav .all-categories a { color: rgb(56, 102, 223); }
.top-nav .all-categories a:after { display: inline-block; }
.top-nav .nav-item:hover { box-shadow: 0 5px 4px 0 rgba(0,0,0,0.18); }
.top-nav .nav-item:hover .mega-menu { display: block; box-shadow: 0 5px 4px 0 rgba(0,0,0,0.18); }
/*.top-nav .mega-menu div { float: left;}*/
.top-nav .mega-menu .mega-menu-categories { float: left; width: 20%; }
.top-nav .mega-menu .mega-menu-brands { float: left; width: 30%; }
.top-nav .mega-menu .mega-menu-images { float: left; width: 50%; }

.top-nav .mega-menu .mega-menu-brands .brand-row { padding: 5px; }
.top-nav .mega-menu .mega-menu-brands .brand-row a:hover img { opacity: 0.6; }
.top-nav .mega-menu .mega-menu-brands .brand-row img { margin-top: 5px; margin-bottom: 5px; }
.top-nav .mega-menu .mega-menu-images img { padding: 5px; }
.top-nav .mega-menu .mega-menu-images a:hover img { opacity: 0.6; }

.sidebar-account .fa-layers-counter { right: -10px; }
ul.sidebar-header { margin-bottom: 0; }
.sidebar-spacer { height: 20px; background-color: #f7f7fa; }

.form-control { border: none; border-radius: 0; }

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 9999;
    background: #fff;
    color: #404553;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sidebar-account ul { list-style: none; }
.sidebar-account ul li { display: inline-block; text-align: center; }
.sidebar-account ul li span{ display: block;}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 12px 15px;
    height: 65px;
    border-bottom: 1px solid #e2e5f1;
}

.small-title {
    font-size: 1.444rem;
    font-weight: 600;
}
.xs-title {
        font-size: 1.444rem;
        font-weight: 600;
    }

.place-order-btn {
    background-color: #3866DF;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    position: relative;
    flex: 1 1 0%;
    overflow: hidden;
    transition: opacity 0.2s ease-in 0s;
    text-align: center;
    border: 2px solid #B2BBD2;
    font-size: 12px;
    padding: 10px 25px;
}

.confirmation {
    justify-content: space-between;
}

.shipping-address {
    margin-right: 50px;
}

.shipping-address .title {
    font-size: 15px;
    font-weight: bold;
}
.shipping-address .name {
    font-size: 14px;
    font-weight: 600;
}

.font-12 {
    font-size: 12px;
}

.bill {
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
}